{% extends 'base.html' %}

{% block content %}
{% include 'wigits/_pagesbaner.html' %}

    <!--//main-content-->
    <!---->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href=" {% url 'myapp:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Register</li>
    </ol>
    <!---->
    <!-- banner -->
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column">
		            <p class="m-auto">Your password has been Updated.</p>
	          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}